.createPost {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.textArea {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font: inherit;
  resize: none;
  font-size: 1.1rem;
  padding: 0.5rem;
}
